body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.container2 {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
}

.container2>div {
    margin-right: 0;
    margin-left: 0;
    max-width: 20em;
}

.lettercard>p,
.lettercard2>p {
    font-size: 2em;
}

.lettercard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    height: 5em;
    transition: transform 0.2s;
}

.lettercard2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    height: 10em;
    transition: transform 0.2s;
}

.lettercard:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 3px;
    border-color: rgb(231, 231, 1);
}

.oculto {
    display: none;
}

#btnIniciar {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
}

#play {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px black;
    border-radius: 15px;
    padding: 10px;
    width: 4em;
    color: black;
    transition: transform 0.2s;
}

#play:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 3px;
    border: solid 4px rgb(231, 231, 1);
}

.containermain {
    margin: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

.containermain>a {
    text-decoration: none;
}

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}