body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.container2 {
    width: 30em;
    height: 40em;
    border: solid 1px black;

}

.container2>div {
    margin-right: 0;
    margin-left: 0;
}

.lettercard>p,.lettercard2>p {
    font-size: 5em;
}

.lettercard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    height: 10em;
    transition: transform 0.2s;
}

.lettercard2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    height: 10em;
    transition: transform 0.2s;
}

.card {
    border: solid 2px black;
}

.lettercard:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 3px;
    border-color: rgb(231, 231, 1);
}

.oculto {
    display: none;
}

#btnIniciar {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
}